.names {
    font-family: 'Old Standard TT';
    font-size: xxx-large;
    text-align: center;
    width: 100%;
}

.invitation {
    font-family: 'Times Sans Serif';
    font-size: xx-large;
    text-align: center;
    width: 100%;
}