<div class="invitation">
    <hr />
    <h1>
        Srdečně Vás zveme na náš svatební den
    </h1>
    <hr />
</div>

<app-widget></app-widget>
<div class="names">ANNA <span class="names-and" >&</span> JAKUB</div>

<app-menu></app-menu>

<div class="custom-container" id="info">
    <div class="container-header">
        <hr />
        <h2> INFORMACE </h2>
        <hr />
    </div>
    <app-info></app-info>
</div>

<div class="custom-container" id="registration">
    <div class="container-header">
        <hr />
        <h2> REGISTRACE </h2>
        <hr />
    </div>
    <app-form></app-form>
</div>

<div class="custom-container" id="schedule">
    <div class="container-header">
        <hr />
        <h2> HARMONOGRAM </h2>
        <hr />
    </div>
    <div class="work-in-progress">
        <span> Pracuje se na tom ... </span>
    </div>
</div>

<app-footer></app-footer>
