<div class="basic-info">
    <div>
        <time>17. února 2024</time>
    </div>
    <a href="https://maps.app.goo.gl/du3AMDFXnSeor3e99" class="place">Hotel Centrál</a>
    <div class="location"> Nová Paka </div>
</div>
<div class="more-info">
    <div class="group dress-code">
        <div class="name"> Dress code: </div>
        <div class="value"> Semi-formal</div>
    </div>
    <div class="group gifts">
        <div class="name"> Dary: </div>
        <div class="value"> 
            Preferujeme peněžní dary. <br/> 
            Pokud byste raději něco koupili, tak se obraťte na koordinátora m.fanta@centrum.cz.
        </div>
    </div>
</div>