html {
    min-height: 100%;
}

body {
    font-family: 'Old Standard TT';
    color: #344831;
    font-style: italic;
    min-height: 100%;
    margin: 1% 10% 0 10%;
    --primary-color: #c5d5c2;
    --secondary-color: #E6E4E5;
    background-color: white;
}

h2 {
    font-style: normal;
    font-size: large;
}

@media screen and (max-width: 480px) {
    body {
        margin: 1% 1% 0 1%;
    }
}

@media screen and (max-width: 768px) {
    body {
        margin: 3% 3% 0 3%;
    }
}