<div class="harmonogram-item significant">
    <div class="time"> 14:00 </div>
    <div class="activity"> Začátek obřadu </div>
</div>
<div class="harmonogram-item">
    <div class="time"> 14:45 </div>
    <div class="activity"> Společná fotografie </div>
</div>
<div class="harmonogram-item">
    <div class="time"> 16:00 </div> 
    <div class="activity"> Zahájení hostiny </div>
</div>
<div class="harmonogram-item significant">
    <div class="time"> 22:00 </div> 
    <div class="activity"> Oficiální konec </div>
</div>
<div class="notes">
    * Po oficiálním konci bude možnost se přemístit do menších prostor a pokračovat v oslavě.
</div>